Robótica-Y-Tecnologías-Emergentes/Sistema-de-Alerta-ESP32-MQTT-NODE-RED/node_red_flow.json
[
    {
        "id": "2f443b8df882cb53",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1069b4247f8f29d2",
        "type": "mqtt in",
        "z": "2f443b8df882cb53",
        "name": "",
        "topic": "ubo/g2/alerta",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "37932a53d87f804e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 80,
        "wires": [
            [
                "67d2a10c13d10310"
            ]
        ]
    },
    {
        "id": "67d2a10c13d10310",
        "type": "json",
        "z": "2f443b8df882cb53",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 150,
        "y": 140,
        "wires": [
            [
                "7083aa17bc1c52e6",
                "7dba9ba88261645e",
                "646581156f421876",
                "d993a122b5d7db1f",
                "9f37e3a2e870f949",
                "e9bf5bb0c4263ead",
                "cceeb1287f215337",
                "1ec5376aad25b46e",
                "3840c5daba1b9fba",
                "dcd993e90683fb5a",
                "49c3ac2ca2ed7850"
            ]
        ]
    },
    {
        "id": "7083aa17bc1c52e6",
        "type": "ui_text",
        "z": "2f443b8df882cb53",
        "group": "9556ae63b4640f7a",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Estado",
        "format": "{{msg.payload.estado}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "18",
        "color": "#000000",
        "x": 420,
        "y": 140,
        "wires": []
    },
    {
        "id": "646581156f421876",
        "type": "ui_text",
        "z": "2f443b8df882cb53",
        "group": "9556ae63b4640f7a",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Palabra",
        "format": "{{msg.payload.palabra}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "18",
        "color": "#000000",
        "x": 420,
        "y": 200,
        "wires": []
    },
    {
        "id": "d993a122b5d7db1f",
        "type": "ui_text",
        "z": "2f443b8df882cb53",
        "group": "d3967b30db0fb11d",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "IP ESP32",
        "format": "{{msg.payload.ip}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "18",
        "color": "#000000",
        "x": 600,
        "y": 80,
        "wires": []
    },
    {
        "id": "9f37e3a2e870f949",
        "type": "ui_text",
        "z": "2f443b8df882cb53",
        "group": "d3967b30db0fb11d",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "RSSI",
        "format": "{{msg.payload.rssi}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "18",
        "color": "#000000",
        "x": 590,
        "y": 140,
        "wires": []
    },
    {
        "id": "e9bf5bb0c4263ead",
        "type": "ui_text",
        "z": "2f443b8df882cb53",
        "group": "65e513a61bd30db1",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Mensaje",
        "format": "{{msg.payload.mensaje}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "18",
        "color": "#000000",
        "x": 820,
        "y": 200,
        "wires": []
    },
    {
        "id": "7dba9ba88261645e",
        "type": "ui_template",
        "z": "2f443b8df882cb53",
        "group": "9556ae63b4640f7a",
        "name": "",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<div style=\"\npadding:15px;\ntext-align:center;\nfont-size:24px;\nfont-weight:bold;\ncolor:white;\nbackground-color:\n{{msg.payload.estado === 'ACTIVA' ? 'red' : 'green'}};\nborder-radius:10px;\">\n{{msg.payload.estado}}\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 420,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "cceeb1287f215337",
        "type": "ui_text",
        "z": "2f443b8df882cb53",
        "group": "d3967b30db0fb11d",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Duración alarma (ms)",
        "format": "{{msg.payload.duracion}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "18",
        "color": "#000000",
        "x": 640,
        "y": 200,
        "wires": []
    },
    {
        "id": "dcd993e90683fb5a",
        "type": "ui_text",
        "z": "2f443b8df882cb53",
        "group": "65e513a61bd30db1",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Destinatario",
        "format": "{{msg.payload.destinatario}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "18",
        "color": "#000000",
        "x": 830,
        "y": 260,
        "wires": []
    },
    {
        "id": "3840c5daba1b9fba",
        "type": "ui_text",
        "z": "2f443b8df882cb53",
        "group": "65e513a61bd30db1",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Ubicación",
        "format": "{{msg.payload.ubicacion}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "18",
        "color": "#000000",
        "x": 820,
        "y": 140,
        "wires": []
    },
    {
        "id": "1ec5376aad25b46e",
        "type": "ui_text",
        "z": "2f443b8df882cb53",
        "group": "65e513a61bd30db1",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Timestamp",
        "format": "{{msg.payload.timestamp}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "18",
        "color": "#000000",
        "x": 830,
        "y": 80,
        "wires": []
    },
    {
        "id": "49c3ac2ca2ed7850",
        "type": "ui_text",
        "z": "2f443b8df882cb53",
        "group": "9556ae63b4640f7a",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Contador",
        "format": "{{msg.payload.contador}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "18",
        "color": "#000000",
        "x": 420,
        "y": 260,
        "wires": []
    },
    {
        "id": "37932a53d87f804e",
        "type": "mqtt-broker",
        "name": "broker",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9556ae63b4640f7a",
        "type": "ui_group",
        "name": "Estado de Alerta",
        "tab": "d3cdc273f792c0b2",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d3967b30db0fb11d",
        "type": "ui_group",
        "name": "Información del Dispositivo",
        "tab": "d3cdc273f792c0b2",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "65e513a61bd30db1",
        "type": "ui_group",
        "name": "Registro",
        "tab": "d3cdc273f792c0b2",
        "order": 6,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d3cdc273f792c0b2",
        "type": "ui_tab",
        "name": "Sistema IoT",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "26dedd6a56662c1e",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]